GITHUB_TOKEN=your_github_token_here
# need token with permission just to read metadata

NETLIFY_TOKEN=your_netlify_personal_access_token_here
# need token with read access to the unfoldingWord Netlify team
#   generate one at Netlify → User Settings → Applications → Personal access tokens
